.header {
    background: url(../../assets/imagen/Papa.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .article {
    display: inline-block;
    margin: 330px 80px 30px;
    width: 40%;
    padding: 10px;
    background: #ffffff69;
}

.header .close {
    display: flex;
}

.header .close .closing{ 
    width: 50%;
    text-align: right;
    padding: 20px;
    background-color: #7070704d;
}

.header .close .days {
   padding: 20px; 
   background-color: #ffffffb3;
   width: 50%;
}
